#application-structure {
    display:none;
}

#server-url {
    display:none;
}

#debug {
    display:none;
}

#raw-json-view {
    margin-top: 50px;
}

.section-content {
    margin-bottom: 70px;
}

.section-name-content {
    margin-bottom: 4px;
}

.section-header {
    margin-bottom: 10px;
}

.subsection-content {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.field-content {
    margin: 20px 0;
}

.remove-span-custom {
    padding: 0;
    border: none;
}

.remove-options-entry-button {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
