<script id="application-editor-template" type="x-tmpl-mustache">
<h2>Application: {{ name }}</h2>
<form>
    <div class="form-group">
        <label for="open-date-input">Open Date</label>
        <input id="open-date-input" type="date" class="form-control" value="{{ openDate }}">
    </div>
    <div class="form-group">
        <label for="open-date-human-input">Open Date Human</label>
        <input id="open-date-human-input" type="text" class="form-control" value="{{ openDateHuman }}">
    </div>
    <div class="form-group">
        <label for="close-date-input">Close Date</label>
        <input id="close-date-input" type="date" class="form-control" value="{{ closeDate }}">
    </div>
    <div class="form-group">
        <label for="close-date-human-input">Close Date Human</label>
        <input id="close-date-human-input" type="text" class="form-control" value="{{ closeDateHuman }}">
    </div>
</form>
{{#sections}}
<div class="section-content">Section loading...</div>
{{/sections}}
<div class="form-inline">
    <input type="text" class="new-section-input form-control" placeholder="New section name">
    <button type="button" class="add-section-button form-control btn btn-default">Add section</button>
</div>
</script>