<script id="new-type-partial" type="x-tmpl-mustache">
<select class="new-type-input form-control">
    <option>Text</option>
    <option>Date</option>
    <option>Phone Number</option>
    <option>Number</option>
    <option>Dropdown</option>
    <option>Essay</option>
    <option>Enumeration Table</option>
    <option>Dropdown With Sub Fields</option>
</select>
</script>

<script id="type-partial" type="x-tmpl-mustache">
<select class="type-input form-control">
    <option{{#type_text}} selected="selected"{{/type_text}}>Text</option>
    <option{{#type_date}} selected="selected"{{/type_date}}>Date</option>
    <option{{#type_phone_number}} selected="selected"{{/type_phone_number}}>Phone Number</option>
    <option{{#type_number}} selected="selected"{{/type_number}}>Number</option>
    <option{{#type_dropdown}} selected="selected"{{/type_dropdown}}>Dropdown</option>
    <option{{#type_essay}} selected="selected"{{/type_essay}}>Essay</option>
    <option{{#type_enumeration_table}} selected="selected"{{/type_enumeration_table}}>Enumeration Table</option>
    <option{{#type_dropdown_with_subfields}} selected="selected"{{/type_dropdown_with_subfields}}>Dropdown With Sub Fields</option>
</select>
</script>

<script id="required-partial" type="x-tmpl-mustache">
<div class="checkbox">
    <label><input class="required-input" type="checkbox" value="{{ required }}"
    {{#required}}checked{{/required}}
    >Required</label>
</div>
</script>

<script id="name-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="name-input">Name</label>
    <input type="text" class="name-input form-control" value="{{ name }}" placeholder="ex: First Name">
</div>
</script>

<script id="show-caption-partial" type="x-tmpl-mustache">
<div class="row checkbox">
    <div class="col-xs-3">
        <label><input class="show-caption-input" type="checkbox" value="{{ show_caption }}" {{# show_caption }}checked{{/ show_caption }}>Show caption</label>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#show-caption-help-modal">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>
    </div>
</div>
</script>

<script id="delete-button-partial" type="x-tmpl-mustache">
<button type="button" class="btn btn-xs btn-danger delete-button">
    <span class="glyphicon glyphicon-trash"></span>
</button>
</script>

<script id="size-partial" type="x-tmpl-mustache">
<label>Input size:
    <select class="size-input form-control">
        <option{{#size_selects.small}} selected="selected"{{/size_selects.small}}>Small</option>
        <option{{#size_selects.medium}} selected="selected"{{/size_selects.medium}}>Medium</option>
        <option{{#size_selects.large}} selected="selected"{{/size_selects.large}}>Large</option>
    </select>
</label>
</script>

<script id="default-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="default-input">Default</label>
    <input type="text" class="default-input form-control" value="{{ default }}">
</div>
</script>

<script id="max-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="max-input">Maximum</label>
    <input type="number" class="max-input form-control" value="{{ max }}">
</div>
</script>

<script id="min-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="min-input">Minimum</label>
    <input type="number" class="min-input form-control" value="{{ min }}">
</div>
</script>

<script id="prompt-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="prompt-input">Prompt</label>
    <input type="text" class="prompt-input form-control" value="{{ prompt }}">
</div>
</script>

<script id="character-limit-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="character-limit-input">Character Limit</label>
    <input type="number" class="character-limit-input form-control" value="{{ character_limit }}">
</div>
</script>

<script id="item-type-partial" type="x-tmpl-mustache">
<div class="form-group">
    <label for="item-type-input">Item type</label>
    <input type="text" class="item-type-input form-control" value="{{ item_type }}" placeholder="Singular item type">
</div>
</script>

<script id="hidden-partial" type="x-tmpl-mustache">
<div class="checkbox">
    <label><input class="hidden-input" type="checkbox" value="{{ hidden }}"
    {{#hidden}}checked{{/hidden}}
    >Hidden</label>
</div>
</script>