
<script id="text-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Text Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        <form>
            {{> type_partial }}
            {{> name_partial }}
            {{> show_caption_partial }}
            {{> required_partial }}
            {{> size_partial }}
            {{> default_partial }}
        </form>
    </div>
</div>
</script>

<script id="date-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Date Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        <form>
            {{> type_partial }}
            {{> name_partial }}
            {{> show_caption_partial }}
            {{> required_partial }}
        </form>
    </div>
</div>
</script>

<script id="phone-number-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Phone Number Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        <form>
            {{> type_partial }}
            {{> name_partial }}
            {{> show_caption_partial }}
            {{> required_partial }}
            {{> size_partial }}
        </form>
    </div>
</div>
</script>

<script id="number-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Number Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        <form>
            {{> type_partial }}
            {{> name_partial }}
            {{> show_caption_partial }}
            {{> required_partial }}
            {{> min_partial }}
            {{> max_partial }}
            {{> size_partial }}
            {{> default_partial }}
        </form>
    </div>
</div>
</script>

<script id="dropdown-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Dropdown Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
            {{> type_partial }}
            {{> name_partial }}
            {{> show_caption_partial }}
            {{> required_partial }}
            <div class="dropdown-options-content"></div>
            {{> allow_free_text }}
    </div>
</div>
</script>

<script id="dropdown-options-template" type="x-tmpl-mustache">
<table class="table">
    <tbody>
        {{#options}}
        <div class="dropdown-options-entry-content"></div>
        {{/options}}
    </tbody>
</table>
<div class="form-inline">
    <input type="text" class="new-options-entry-input form-control" placeholder="Add new option">
    <button type="button" class="add-options-entry-button form-control btn btn-default">Add option</button>
</div>
</script>

<script id="dropdown-options-entry-template" type="x-tmpl-mustache">
<tr>
    <td>
        <input type="text" class="options-entry-input form-control" value="{{ options_entry }}">
    </td>
    <td>
        <button type="button" class="remove-options-entry-button form-control btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</tr>
</script>

<script id="dropdown-with-subfields-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Dropdown With SubFields Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        {{> type_partial }}
        {{> name_partial }}
        {{> required_partial }}
        <div class="dropdown-with-subfields-options-content"></div>
    </div>
</div>
</script>

<script id="dropdown-with-subfields-options-template" type="x-tmpl-mustache">
{{#options}}
<div class="dropdown-with-subfields-options-entry-content"></div>
{{/options}}
<div class="form-inline">
    <input type="text" class="new-with-subfields-options-entry-input" placeholder="Option Name">
    <button type="button" class="add-with-subfields-options-entry-button form-control btn btn-default">Add option</button>
</div>
</script>

<script id="dropdown-with-subfields-options-entry-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Option</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        <label for="with-subfields-options-input">Option</label>
        <input type="text" class="with-subfields-options-input form-control" value="{{ option }}">
        <hr>
        <div class="subsection-content"></div>
    </div>
</div>
</script>

<script id="essay-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Essay Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-7">
        <form>
            {{> type_partial }}
            {{> name_partial }}
            {{> show_caption_partial }}
            {{> prompt_partial }}
            {{> character_limit_partial }}
        </form>
    </div>
</div>
</script>

<script id="enumeration-table-input-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <span>Enumeration Table Input</span>
        {{> delete_button_partial }}
    </div>
    <div class="col-xs-10">
        <form>
            {{> type_partial }}
            {{> name_partial }}
            {{> required_partial }}
            {{> item_type_partial }}
            {{> hidden_partial }}
            <div class="subsection-content">TODO fields_partial</div>
        </form>
    </div>
</div>
</script>