{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/papel_chrome.css">
<link rel="stylesheet" type="text/css" href="/static/css/tree_view_sidebar.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" language="javascript" src="/static/js/strategies/application.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/subsection.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/section.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/text.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/dropdown.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/number.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/date.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/phone_number.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/essay.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/enumeration_table.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/strategies/dropdown_with_subfields.js"></script>

<script type="text/javascript" language="javascript" src="/static/js/tree_view_sidebar.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/papel_editor.js"></script>

{{ application_editor|safe }}
{{ section|safe }}
{{ subsection|safe }}
{{ fields|safe }}
{{ components|safe }}
{{ tree_view_sidebar|safe }}

{% endblock %}

{% block content %}
<div id="application-structure"></div>
<input type="text" id="server-url" value="{{ server_url }}">
<input type="text" id="debug" value="{{ debug }}">

<div class="row">
    <div class="col-xs-12" id="application-editor">Loading application editor...</div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12" id="raw-json-view">
    </div>
</div>

<div class="modal fade" id="show-caption-help-modal" tabindex="-1" role="dialog" aria-labelledby="show-caption-help-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Show Caption</h4>
            </div>
                <div class="modal-body">
                    When "Show caption" is checked, the Name for this input will be shown to the user.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
