<script id="section-template" type="x-tmpl-mustache">
<div class="row">
    <div class="col-xs-1">
        <div class="row">
            <span>Section</span>
        </div>
        <div class="row">
            <input type="text" class="section-name" value="{{ name }}">
        </div>
        <div class="row">
            {{> delete_button_partial }}
        </div>
    </div>
    <div class="col-xs-11">
        {{#subsections}}
        <div class="subsection-content"></div>
        {{/subsections}}
    </div>
</div>
<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-2">
        <button type="button" class="add-subsection-button form-control btn btn-default">
            Add subsection
        </button>
    </div>
</div>
</script>