<script id="section-template" type="x-tmpl-mustache">
<div class="row section-header">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3>Section</h3>
            </div>
        </div>
        <div class="row section-name-content">
            <div class="col-xs-12">
                <input type="text" class="section-name form-control" value="{{ name }}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{> delete_button_partial }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        {{#subsections}}
        <div class="subsection-content"></div>
        {{/subsections}}
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <button type="button" class="add-subsection-button form-control btn btn-default">
            Add subsection
        </button>
    </div>
</div>
</script>