<script id="subsection-template" type="x-tmpl-mustache">
<div class="row subsection-header">
    <div class="col-xs-11">
        <div class="row">
            <div class="col-xs-12">
                <span>{{ subsection_text }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{> delete_button_partial }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        {{#fields}}
        <div class="field-content"></div>
        {{/fields}}
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    </div class="cos-xs-10">
        <div class="form-inline new-node-form">
            {{> new_type_partial }}
            <input type="text" class="new-name-input form-control" placeholder="New field name">
            <button type="button" class="add-field-button form-control btn btn-default">Add field</button>
        </div>
    </div>
</div>
<p class="infostuff"></p>
</script>