<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QUnit Example</title>
    <link rel="stylesheet" href="{{ base_url }}/static/css/quint.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="{{ base_url }}/static/js/lib/qunit.js"></script>
    <script src="{{ base_url }}/static/js/tests/test.js"></script>

    <!-- System under test -->
    <!-- <script src="/static/js/strategies/application.js"></script> -->
    <!-- <script src="/static/js/strategies/subsection.js"></script> -->
    <!-- <script src="/static/js/strategies/section.js"></script> -->
    <!-- <script src="/static/js/strategies/text.js"></script> -->
    <!-- <script src="/static/js/strategies/dropdown.js"></script> -->
    <!-- <script src="/static/js/strategies/number.js"></script> -->
    <!-- <script src="/static/js/strategies/date.js"></script> -->
    <!-- <script src="/static/js/strategies/phone_number.js"></script> -->
    <!-- <script src="/static/js/strategies/essay.js"></script> -->
    <!-- <script src="/static/js/strategies/enumeration_table.js"></script> -->
    <!-- <script src="/static/js/strategies/dropdown_with_subfields.js"></script> -->
    <!-- <script src="/static/js/papel_editor.js"></script> -->
</body>
</html>